    <div class="well">
      <form class="form-inline" role="form">
        <div class="form-group">
          <label class="sr-only" for="exampleInput1">Адрес</label>
          <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Адрес">
        </div>
        <div class="form-group">
          <label class="sr-only" for="exampleInput2">Цена</label>
          <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Цена">
        </div>
        <div class="form-group">
          <label class="sr-only" for="exampleInput3">Отклонение</label>
          <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Отклонение">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Запомнить
          </label>
        </div>
            <div class="pull-right">
                <button type="submit" class="btn btn-default">Поехали!</button>
            </div>
      </form>
    </div>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Результат сканирования</div>
  <div class="panel-body">
    <p>...</p>
  </div>

  <!-- Table -->

    <table class="table table-hover">
      <thead>
      <tr>
        <th>Header 1</th>
        <th>Header 2</th>
        <th>Header 3</th>
        <th>Header 4</th>
      </tr>
      </thead>
      <tbody>
          <tr>
            <td>result 1</td>
            <td>result 2</td>
            <td>result 3</td>
            <td>result 4</td>
          </tr>

      </tbody>
    </table>

</div>