<%= form_for @item, html: {class:'form-horizontal'} do |f| %>
    <fieldset>

      <!-- Form Name -->
      <legend><i class="fa fa-beer"></i> Добавить товар</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="name">Название</label>
        <div class="col-md-4">
          <%= f.text_field :name, class:'form-control input-md', placeholder: 'Название товара', required: true %>
        </div>
      </div>

      <!-- Password input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="price">Цена</label>
        <div class="col-md-4">

          <%= f.text_field :price, class: 'form-control input-md', placeholder: 'Цена в долларах', required: true %>

        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="login"></label>
        <div class="col-md-4">
          <%= f.submit 'Добавить', class: 'btn btn-primary' %>
        </div>
      </div>

    </fieldset>
<% end %>